@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

@layer base {
  * {
    @apply m-0 box-border scroll-smooth p-0 font-sans text-text-body;
  }
  body {
    @apply bg-background;
  }

  ::selection {
    @apply bg-primary text-white;
  }
}

@layer components {
  .fluid-container {
    @apply container mx-auto w-full px-2 py-4 md:px-6 lg:px-16 lg:py-7;
  }
  .section-heading {
    @apply font-heading text-2xl font-bold text-text;
  }
  .underline-after {
    @apply relative inline-block after:absolute after:bottom-0 after:left-0 after:h-[1.3px] after:w-full after:bg-gray-700 after:content-[''];
  }

  .page-container {
    @apply p-6;
  }
}

.swiper-slide {
  height: auto !important;
}
